/* Variables */
@test-form-black: #212121;
@test-form-border-color: @test-form-black;
@test-form-title-bg: #cbfdf9;
@test-form-color: @test-form-black;
@test-form-color-opposite: #fff;

& when (@media-common = true) {
    .fieldset{
        &-wrapper{
            border: 1px solid @test-form-border-color;
            color: @test-form-color;
            margin: 0 auto;
            max-width: 590px;
            &-title{
                text-align: center;
                font-size: 2rem;
                padding: .8em 1em .4em;
                border-bottom: 1px solid @test-form-border-color;
                background-color: @test-form-title-bg;
            }
            .admin__fieldset{
                margin: 0;
                padding: 0;
                border: 0 none;
                display: inline;
                &-wrapper-content{
                    padding: 5.9rem 12.5% 2.6rem;
                    text-align: justify;
                    font-size: 0;
                }
                &:after{
                    content: '';
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                }
                > .field{
                    display: inline-block;
                    vertical-align: top;
                    font-size: 1.2rem;
                    text-align: left;
                    width: 45%;
                    margin-bottom: 2.5rem;
                    .control{
                        position: relative;
                        .field-error{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            margin-top: 2px;
                            overflow: hidden;
                            height: 1.42857143em;
                        }
                    }
                    .label{
                        display: none;
                    }
                    .choice{
                        .label{
                            display: inline;
                        }
                    }
                }
                .input-text,
                .select{
                    border-color: @test-form-border-color;
                    color: @test-form-color;
                    height: 25px;
                    font-size: 12px;
                }
                button{
                    &.action-basic{
                        margin-top: 1.3rem;
                        background: @test-form-color-opposite;
                        border-color: @test-form-border-color;
                        color: @test-form-color;
                        box-shadow:none;
                        padding: 1.2rem 1.5rem;
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        vertical-align: top;
                        min-width: 128px;
                        &:hover{
                            background: darken(@test-form-color-opposite, 10%);
                        }
                        &.primary{
                            background: @test-form-color;
                            color: @test-form-color-opposite;
                            &:hover{
                                background: lighten(@test-form-color, 10%);
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .fieldset{
        &-wrapper{
            .admin__fieldset{
                &-wrapper-content{
                    padding: 4rem 1rem 2rem;
                }
                > .field{
                    width: 48%;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .fieldset{
        &-wrapper{
            .admin__fieldset{
                > .field{
                    width: 100%;
                }
            }
        }
    }
}